<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>median income</th>
      <th>median age</th>
      <th>bachelors degree</th>
      <th>percent white</th>
      <th>pop density</th>
      <th>venue density</th>
    </tr>
    <tr>
      <th>klabel</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.02e+04</td>
      <td>36.3</td>
      <td>0.188</td>
      <td>0.317</td>
      <td>8.09e+04</td>
      <td>0.0076</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7.07e+04</td>
      <td>36.7</td>
      <td>0.226</td>
      <td>0.171</td>
      <td>2.76e+04</td>
      <td>0.00599</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9.58e+04</td>
      <td>45.4</td>
      <td>0.441</td>
      <td>0.529</td>
      <td>1.87e+04</td>
      <td>0.00585</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7.39e+04</td>
      <td>36.8</td>
      <td>0.397</td>
      <td>0.665</td>
      <td>4.44e+04</td>
      <td>0.0109</td>
    </tr>
  </tbody>
</table>